/* 提交按钮样式 */
.user-page button[type="submit"] {
  background-color: #008CBA;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 提交按钮悬停样式 */
.user-page button[type="submit"]:hover {
  background-color: #005f6b;
}